body{
    background-color: #fff;
    color: brown;
    font-family: 'Noto Sans', sans-serif;
font-family: 'Noto Serif Display', serif;
}
p{
    background-color: white;
    color: blueviolet;
    font-family: 'Noto Sans', sans-serif;
}